header{
  height: 60px;
  background-color: rgb(5, 112, 233);
  color: white;
  display: flex;
  justify-content: center; /*centrer orizontalement avec "flex"*/
  align-items: center; /*centrer verticallement*/
  font-weight: bold;
  font-size: 2em;

}
