#container{
  height: calc(100vh - 160px);
  display: flex;
  border: 0.1px solid black;
}
#nav{
  background-color: olive;
  display: flex;
  flex: 1.2;
  justify-content: center;
  align-items: center;
}
#main{
  background-color: violet;
  display: flex;
  justify-content: center;
  align-items: center;
  flex:3;
}
#aside{
  background-color: green;
  flex: 1;
  justify-content: center;
  align-items: center;

}
.aside_item{
  height: 100px;
  background-color: fuchsia;
  margin: 4px;
}

@media screen and (max-width: 900px){
#container{
  /*Lorsque l'écran est en dessous de 900px, "renversement de position*/
  flex-direction: column;
}

  .aside_item{
    height: 50px;
    background-color: fuchsia;
    margin: 4px;
  }

}
